<%= form_for memento do |form| %>
  <% if memento.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(memento.errors.count, "error") %> prohibited this memento from being saved:</h2>

      <ul>
        <% memento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="relative isolate overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="my-16 max-w-2xl lg:mx-0 lg:mt-10 lg:max-w-none">
          <div class="w-2/3 text-base leading-7 text-gray-700">
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">What is your loved one's first name?</h1>
            <%= form.text_field :fname, class: "mt-2 w-full border-t-0 border-l-0 border-r-0 border-b-1 focus:ring-0 border-lilac-deep placeholder-gray-300", placeholder: memento&.fname || "First name" %>
          </div>
        </div>
        <div class="my-16 max-w-2xl lg:mx-0 lg:mt-10 lg:max-w-none">
          <div class="w-2/3 text-base leading-7 text-gray-700">
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Got it. And last name?</h1>
            <%= form.text_field :lname, class: "mt-2 w-full border-t-0 border-l-0 border-r-0 border-b-1 focus:ring-0 border-lilac-deep placeholder-gray-300", placeholder: memento&.lname || "Last name" %>
          </div>
        </div>

      <%= form.fields_for :story do |story_fields| %>
        <div class="max-w-2xl lg:mx-0">
          <p class="text-lg font-semibold leading-8 tracking-tight text-lilac-deep placeholder-lilac-deep">Exposition</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Tell us about the beginning of their life. When and where were they born, and to whom? What were their early interests and hobbies?</h1>
          <%= story_fields.text_area :exposition, class: "mt-2 w-full border-0 focus:ring-0 border-lilac-deep placeholder-text-gray-900", autofocus: true, rows: 10 %>
        </div>
        <div class="max-w-2xl lg:mx-0">
          <p class="text-lg font-semibold leading-8 tracking-tight text-lilac-deep placeholder-lilac-deep">Rising action</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight placeholder-gray-900 sm:text-4xl">How did their life progress? What were some challenges they faced? What path did they take?</h1>
          <%= story_fields.text_area :rising_action, class: "mt-2 w-full border-0 focus:ring-0 border-lilac-deep", autofocus: true, rows: 10 %>
        </div>
        <div class="max-w-2xl lg:mx-0">
          <p class="text-lg font-semibold leading-8 tracking-tight text-lilac-deep placeholder-lilac-deep">Climax</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight placeholder-gray-900 sm:text-4xl">Expand on some of the challenges or opportunities in their life. What were the high points, the climaxes?</h1>
          <%= story_fields.text_area :climax, class: "mt-2 w-full border-0 focus:ring-0 border-lilac-deep", autofocus: true, rows: 10 %>
        </div>
        <div class="max-w-2xl lg:mx-0">
          <p class="text-lg font-semibold leading-8 tracking-tight text-lilac-deep placeholder-lilac-deep">Falling action</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight placeholder-gray-900 sm:text-4xl">How did their life continue after these high points?</h1>
          <%= story_fields.text_area :falling_action, class: "mt-2 w-full border-0 focus:ring-0 border-lilac-deep", autofocus: true, rows: 10 %>
        </div>
        <div class="max-w-2xl lg:mx-0">
          <p class="text-lg font-semibold leading-8 tracking-tight text-lilac-deep placeholder-lilac-deep">Resolution</p>
          <h1 class="mt-2 text-3xl font-bold tracking-tight placeholder-gray-900 sm:text-4xl">Finally, tell us about the end of their life. Did their life end unexpectedly? How did they face their own death? Who was around them when they passed?</h1>
          <%= story_fields.text_area :resolution, class: "mt-2 w-full border-0 focus:ring-0 border-lilac-deep", autofocus: true, rows: 10 %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-lilac-deep text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
