<!DOCTYPE html>
<html>
  <head>
    <title>anecdot | tell your loved one's lifestory.</title>
    <%= favicon_link_tag asset_path('favicon.webp') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5">
          <span class="sr-only">anecdot</span>
          <svg
             width="60"
             viewBox="0 0 49.403835 49.376019"
             version="1.1"
             id="svg5"
             xml:space="preserve"
             inkscape:version="1.2 (dc2aeda, 2022-05-15)"
             sodipodi:docname="anecdot_logo.svg"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
               id="namedview7"
               pagecolor="#505050"
               bordercolor="#eeeeee"
               borderopacity="1"
               inkscape:showpageshadow="0"
               inkscape:pageopacity="0"
               inkscape:pagecheckerboard="0"
               inkscape:deskcolor="#505050"
               inkscape:document-units="mm"
               showgrid="false"
               inkscape:zoom="2.7489307"
               inkscape:cx="79.485454"
               inkscape:cy="90.762566"
               inkscape:window-width="1440"
               inkscape:window-height="707"
               inkscape:window-x="0"
               inkscape:window-y="25"
               inkscape:window-maximized="0"
               inkscape:current-layer="layer1" /><defs
               id="defs2"><inkscape:path-effect
                 effect="fill_between_many"
                 method="originald"
                 linkedpaths="#path510,0,1"
                 id="path-effect1875"
                 is_visible="true"
                 lpeversion="0"
                 join="true"
                 close="true"
                 autoreverse="true" /></defs><g
               inkscape:label="Layer 1"
               inkscape:groupmode="layer"
               id="layer1"
               transform="translate(-82.873809,-122.96424)"><path
                 style="fill:#050607;fill-opacity:1;stroke:none;stroke-width:0.195385"
                 d="m 97.186403,139.20454 c -2.65587,-2.65763 -5.265814,-6.79339 -9.57385,-6.41362 -2.42697,0.21394 -5.035042,1.68283 -5.868181,4.069 -0.331803,0.95031 -0.0053,1.99343 -0.363318,2.93077 -0.451612,1.18239 -1.622982,1.8958 -2.062849,3.12615 -1.125174,3.14726 1.154336,6.72436 3.800502,8.30815 3.229688,1.93274 7.640496,0.43883 11.136926,0.28878 v 0.19538 c -1.960883,0.62054 -3.845895,1.92689 -5.666157,2.88798 -4.089244,2.159 -7.153167,7.23275 -3.803669,11.5697 1.055936,1.36731 2.529332,1.32061 3.726785,2.29421 1.268965,1.03183 1.377775,2.86825 3.203038,3.44053 4.288793,1.34463 8.70771,-1.6258 9.7919,-5.73396 0.58889,-2.23168 1.24558,-4.72557 1.34503,-7.03384 h 0.39077 c 0.0621,3.01224 0.58049,7.71847 2.08749,10.35538 1.6848,2.94836 5.90335,4.64215 9.04943,2.94719 1.25652,-0.67701 1.67386,-2.02986 2.77642,-2.76392 1.13675,-0.75692 2.56637,-0.55782 3.63513,-1.59258 2.65567,-2.57106 1.93196,-7.97638 -0.39077,-10.50133 -1.82665,-1.9857 -5.12279,-3.6365 -7.58385,-4.69705 v -0.19538 c 3.86001,0.16568 8.52736,2.16642 12.11384,0.0137 2.61718,-1.57089 4.1783,-5.05636 3.2047,-8.02444 -0.33137,-1.01034 -1.21138,-1.75444 -1.51677,-2.73539 -0.28311,-0.90916 0.18913,-1.96852 -0.0328,-2.93077 -0.58908,-2.55348 -3.16171,-3.97881 -5.56279,-4.40325 -4.99716,-0.88331 -8.38435,3.60454 -11.52769,6.74787 1.52361,-3.71366 4.50518,-7.9232 3.6111,-12.11385 -0.62856,-2.94611 -3.25003,-5.45937 -6.34649,-5.45539 -1.0498,0.001 -1.93665,0.72671 -2.93077,0.73963 -0.67661,0.009 -1.30224,-0.50127 -1.95384,-0.65159 -1.941744,-0.44785 -3.900457,0.21373 -5.239367,1.66288 -4.139769,4.4806 -1.37932,9.03472 0.55013,13.66909 m 2.930967,-12.61302 c 1.34737,-0.31392 2.26373,1.03607 3.51673,1.18391 0.9525,0.11239 1.67835,-0.69459 2.54,-0.94857 1.61407,-0.47576 3.1705,0.89154 3.89304,2.21768 1.58359,2.90648 -1.47985,7.77539 -2.76899,10.35538 -0.46404,0.92874 -0.97654,2.66116 -2.10391,2.95248 -0.8593,0.22201 -2.7432,0.0536 -3.43779,-0.5275 -0.71745,-0.6004 -1.08243,-1.80106 -1.49215,-2.62036 -1.114864,-2.22995 -3.345967,-5.43015 -3.199117,-8.01077 0.0966,-1.69682 1.23278,-4.17836 3.052187,-4.60225 m -12.895586,9.16032 c 3.404284,-0.59694 6.057859,3.40696 8.043949,5.60193 0.79781,0.88173 1.8564,1.6702 2.42195,2.73538 0.82344,1.55096 -0.68256,4.0472 -2.2599,4.37349 -3.602425,0.7452 -9.264886,2.03923 -12.105857,-0.8595 -1.081004,-1.10314 -2.079126,-3.02611 -0.900039,-4.45488 0.591039,-0.7162 1.618273,-1.05666 1.943745,-1.99064 0.811198,-2.32779 -0.860747,-4.75402 2.856152,-5.40578 m 32.043086,1.56051 c 1.53807,-0.18889 4.20389,0.75008 4.46473,2.47834 0.1569,1.03956 -0.51425,2.1318 -0.1567,3.12615 0.38686,1.07677 1.51482,1.67484 1.94252,2.73539 0.91186,2.26177 -1.35812,4.77442 -3.51517,5.04385 -2.73655,0.34193 -5.69976,-0.40894 -8.40154,-0.79834 -0.95758,-0.13794 -2.33855,-0.11977 -2.98117,-0.96852 -0.48964,-0.64633 -1.06974,-2.69396 -0.80558,-3.47238 0.33743,-0.99431 1.50329,-1.81961 2.22368,-2.54 1.94427,-1.94427 4.29631,-5.24428 7.22923,-5.60449 m -16.60769,7.62262 c 5.77048,-1.01385 7.2644,7.73274 1.56307,8.66433 -5.167924,0.84426 -6.906167,-7.7257 -1.56307,-8.66433 m -5.275397,8.42499 c 1.29169,-0.16686 3.292827,1.99683 3.276807,3.23381 -0.0174,1.33897 -0.51367,2.79165 -0.775884,4.10308 -0.72272,3.61442 -1.190283,8.28528 -5.822463,8.72587 -2.492578,0.237 -2.170095,-2.34969 -3.58341,-3.50852 -1.298565,-1.06465 -3.065428,-0.42398 -3.90904,-2.28678 -2.112186,-4.66383 4.148894,-7.07097 7.29707,-8.64499 1.05293,-0.52637 2.33711,-1.47007 3.51692,-1.62247 m 11.527697,0.79658 c 1.23073,-0.12153 2.88173,1.29481 3.9077,1.88038 3.15272,1.79989 8.65358,4.55344 6.51549,9.15084 -0.81886,1.76081 -2.88466,0.7788 -4.12926,1.84619 -1.20767,1.03573 -1.26023,3.01146 -3.16777,3.21525 -5.14604,0.55001 -5.32716,-6.25192 -5.9098,-9.74774 -0.19304,-1.15883 -0.88529,-3.13846 -0.41988,-4.26251 0.364,-0.87904 2.27799,-1.99097 3.20352,-2.08241 z"
                 id="path510"
                 class="UnoptimicedTransforms"
                 transform="translate(3.8499816,-0.76999642)"
                 inkscape:label="path510"
                 inkscape:export-filename="anecdot_logo.svg"
                 inkscape:export-xdpi="96"
                 inkscape:export-ydpi="96" /></g><g
               inkscape:groupmode="layer"
               id="layer2"
               inkscape:label="Layer 2"
               transform="translate(-82.873809,-122.96424)" /><circle
               style="fill:#050607;fill-opacity:1;stroke-width:3.175"
               id="path3470"
               cx="10.536378"
               cy="19.9182"
               r="1.4918679" />
             </svg>
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">anecdot</span>
            <svg
               width="210mm"
               height="297mm"
               viewBox="0 0 210 297"
               version="1.1"
               id="svg5"
               xml:space="preserve"
               xmlns="http://www.w3.org/2000/svg"
               xmlns:svg="http://www.w3.org/2000/svg"><defs
                 id="defs2" /><g
                 id="layer1"><path
                   d="m 91.026432,139.97454 c -2.65587,-2.65763 -5.265814,-6.79339 -9.57385,-6.41362 -2.42697,0.21394 -5.035042,1.68283 -5.868181,4.069 -0.331803,0.95031 -0.0053,1.99343 -0.363318,2.93077 -0.451612,1.18239 -1.622982,1.8958 -2.062849,3.12615 -1.125174,3.14726 1.154336,6.72436 3.800502,8.30815 3.229688,1.93274 7.640496,0.43883 11.136926,0.28878 v 0.19538 c -1.960883,0.62054 -3.845895,1.92689 -5.666157,2.88798 -4.089244,2.159 -7.153167,7.23275 -3.803669,11.5697 1.055936,1.36731 2.529332,1.32061 3.726785,2.29421 1.268965,1.03183 1.377775,2.86825 3.203038,3.44053 4.288793,1.34463 8.70771,-1.6258 9.7919,-5.73396 0.58889,-2.23168 1.24558,-4.72557 1.34503,-7.03384 h 0.39077 c 0.0621,3.01224 0.58049,7.71847 2.08749,10.35538 1.684801,2.94836 5.903351,4.64215 9.049431,2.94719 1.25652,-0.67701 1.67386,-2.02986 2.77642,-2.76392 1.13675,-0.75692 2.56637,-0.55782 3.63513,-1.59258 2.65567,-2.57106 1.93196,-7.97638 -0.39077,-10.50133 -1.82665,-1.9857 -5.12279,-3.6365 -7.58385,-4.69705 v -0.19538 c 3.86001,0.16568 8.52736,2.16642 12.11384,0.0137 2.61718,-1.57089 4.1783,-5.05636 3.2047,-8.02444 -0.33137,-1.01034 -1.21138,-1.75444 -1.51677,-2.73539 -0.28311,-0.90916 0.18913,-1.96852 -0.0328,-2.93077 -0.58908,-2.55348 -3.16171,-3.97881 -5.56279,-4.40325 -4.99716,-0.88331 -8.38435,3.60454 -11.52769,6.74787 1.52361,-3.71366 4.50518,-7.9232 3.6111,-12.11385 -0.62856,-2.94611 -3.25003,-5.45937 -6.34649,-5.45539 -1.049801,0.001 -1.936651,0.72671 -2.930771,0.73963 -0.67661,0.009 -1.30224,-0.50127 -1.95384,-0.65159 -1.941744,-0.44785 -3.900457,0.21373 -5.239367,1.66288 -4.139769,4.4806 -1.37932,9.03472 0.55013,13.66909 z"
                   id="path1877"
                   class="UnoptimicedTransforms"
                   style="fill:#739ce8;fill-opacity:1"
                   transform="translate(10.009953,-1.5399928)" /><path
                   style="fill:#050607;fill-opacity:1;stroke:none;stroke-width:0.195385"
                   d="m 97.186403,139.20454 c -2.65587,-2.65763 -5.265814,-6.79339 -9.57385,-6.41362 -2.42697,0.21394 -5.035042,1.68283 -5.868181,4.069 -0.331803,0.95031 -0.0053,1.99343 -0.363318,2.93077 -0.451612,1.18239 -1.622982,1.8958 -2.062849,3.12615 -1.125174,3.14726 1.154336,6.72436 3.800502,8.30815 3.229688,1.93274 7.640496,0.43883 11.136926,0.28878 v 0.19538 c -1.960883,0.62054 -3.845895,1.92689 -5.666157,2.88798 -4.089244,2.159 -7.153167,7.23275 -3.803669,11.5697 1.055936,1.36731 2.529332,1.32061 3.726785,2.29421 1.268965,1.03183 1.377775,2.86825 3.203038,3.44053 4.288793,1.34463 8.70771,-1.6258 9.7919,-5.73396 0.58889,-2.23168 1.24558,-4.72557 1.34503,-7.03384 h 0.39077 c 0.0621,3.01224 0.58049,7.71847 2.08749,10.35538 1.6848,2.94836 5.90335,4.64215 9.04943,2.94719 1.25652,-0.67701 1.67386,-2.02986 2.77642,-2.76392 1.13675,-0.75692 2.56637,-0.55782 3.63513,-1.59258 2.65567,-2.57106 1.93196,-7.97638 -0.39077,-10.50133 -1.82665,-1.9857 -5.12279,-3.6365 -7.58385,-4.69705 v -0.19538 c 3.86001,0.16568 8.52736,2.16642 12.11384,0.0137 2.61718,-1.57089 4.1783,-5.05636 3.2047,-8.02444 -0.33137,-1.01034 -1.21138,-1.75444 -1.51677,-2.73539 -0.28311,-0.90916 0.18913,-1.96852 -0.0328,-2.93077 -0.58908,-2.55348 -3.16171,-3.97881 -5.56279,-4.40325 -4.99716,-0.88331 -8.38435,3.60454 -11.52769,6.74787 1.52361,-3.71366 4.50518,-7.9232 3.6111,-12.11385 -0.62856,-2.94611 -3.25003,-5.45937 -6.34649,-5.45539 -1.0498,0.001 -1.93665,0.72671 -2.93077,0.73963 -0.67661,0.009 -1.30224,-0.50127 -1.95384,-0.65159 -1.941744,-0.44785 -3.900457,0.21373 -5.239367,1.66288 -4.139769,4.4806 -1.37932,9.03472 0.55013,13.66909 m 2.930967,-12.61302 c 1.34737,-0.31392 2.26373,1.03607 3.51673,1.18391 0.9525,0.11239 1.67835,-0.69459 2.54,-0.94857 1.61407,-0.47576 3.1705,0.89154 3.89304,2.21768 1.58359,2.90648 -1.47985,7.77539 -2.76899,10.35538 -0.46404,0.92874 -0.97654,2.66116 -2.10391,2.95248 -0.8593,0.22201 -2.7432,0.0536 -3.43779,-0.5275 -0.71745,-0.6004 -1.08243,-1.80106 -1.49215,-2.62036 -1.114864,-2.22995 -3.345967,-5.43015 -3.199117,-8.01077 0.0966,-1.69682 1.23278,-4.17836 3.052187,-4.60225 m -12.895586,9.16032 c 3.404284,-0.59694 6.057859,3.40696 8.043949,5.60193 0.79781,0.88173 1.8564,1.6702 2.42195,2.73538 0.82344,1.55096 -0.68256,4.0472 -2.2599,4.37349 -3.602425,0.7452 -9.264886,2.03923 -12.105857,-0.8595 -1.081004,-1.10314 -2.079126,-3.02611 -0.900039,-4.45488 0.591039,-0.7162 1.618273,-1.05666 1.943745,-1.99064 0.811198,-2.32779 -0.860747,-4.75402 2.856152,-5.40578 m 32.043086,1.56051 c 1.53807,-0.18889 4.20389,0.75008 4.46473,2.47834 0.1569,1.03956 -0.51425,2.1318 -0.1567,3.12615 0.38686,1.07677 1.51482,1.67484 1.94252,2.73539 0.91186,2.26177 -1.35812,4.77442 -3.51517,5.04385 -2.73655,0.34193 -5.69976,-0.40894 -8.40154,-0.79834 -0.95758,-0.13794 -2.33855,-0.11977 -2.98117,-0.96852 -0.48964,-0.64633 -1.06974,-2.69396 -0.80558,-3.47238 0.33743,-0.99431 1.50329,-1.81961 2.22368,-2.54 1.94427,-1.94427 4.29631,-5.24428 7.22923,-5.60449 m -16.60769,7.62262 c 5.77048,-1.01385 7.2644,7.73274 1.56307,8.66433 -5.167924,0.84426 -6.906167,-7.7257 -1.56307,-8.66433 m -5.275397,8.42499 c 1.29169,-0.16686 3.292827,1.99683 3.276807,3.23381 -0.0174,1.33897 -0.51367,2.79165 -0.775884,4.10308 -0.72272,3.61442 -1.190283,8.28528 -5.822463,8.72587 -2.492578,0.237 -2.170095,-2.34969 -3.58341,-3.50852 -1.298565,-1.06465 -3.065428,-0.42398 -3.90904,-2.28678 -2.112186,-4.66383 4.148894,-7.07097 7.29707,-8.64499 1.05293,-0.52637 2.33711,-1.47007 3.51692,-1.62247 m 11.527697,0.79658 c 1.23073,-0.12153 2.88173,1.29481 3.9077,1.88038 3.15272,1.79989 8.65358,4.55344 6.51549,9.15084 -0.81886,1.76081 -2.88466,0.7788 -4.12926,1.84619 -1.20767,1.03573 -1.26023,3.01146 -3.16777,3.21525 -5.14604,0.55001 -5.32716,-6.25192 -5.9098,-9.74774 -0.19304,-1.15883 -0.88529,-3.13846 -0.41988,-4.26251 0.364,-0.87904 2.27799,-1.99097 3.20352,-2.08241 z"
                   id="path510"
                   class="UnoptimicedTransforms"
                   transform="translate(3.8499816,-0.76999642)" /></g><g
                 id="layer2" /><circle
                 style="fill:#050607;fill-opacity:1;stroke-width:3.175"
                 id="path3470"
                 cx="93.410187"
                 cy="142.88245"
                 r="1.4918679" />
               </svg>
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
            </div>
            <div class="py-6">
              <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
